<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640313103970-1qc1ivlotsu76hsshregpupriql1ae3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640313103970-1qc1ivlotsu76hsshregpupriql1ae3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDRXeuIXGPzbkWfv2J_JDOfUwLxrlXYo10</string>
	<key>GCM_SENDER_ID</key>
	<string>640313103970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezel</string>
	<key>PROJECT_ID</key>
	<string>ezel-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>ezel-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640313103970:ios:e7dfed4ac085fdbe9b233b</string>
</dict>
</plist>